{% extends 'main/base.html' %}
{% load static %}

{% block title %}| Menu{% endblock %}

{% block navlinks%}
<li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Go Back</a>
</li>
{% endblock %}

{% block content %}
<!-- Header -->
<header class="masthead">
    <div class="container">
      <div class="masthead-subheading" style="font-size: 4rem;">Customize Your Home Page</div>
    </div>
</header>

 <!-- Edit About Page -->
 <section class="page-section bg-light" id="edit-home-page">
    <div class="container">
      <div class="row">
        <h1>Edit About Page</h1>
        <form method="post">
          {% csrf_token %}
          {{ aboutform.as_p }}
          <div class="form-group form-check">
          </div>
          <button type="submit" class="btn btn-primary">Apply Changes</button>
        </form>
    </div>
  </div>
{% endblock %}