{% extends 'main/base.html' %}
{% load static %}

{% block navlinks %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'menu' %}">Menu</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">About</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
</li>
{% if user.is_authenticated %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'edit_home' %}">Edit Page &nbsp;<i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
</li>
{% endif %}

<li class="nav-item">
    <h4 style="color: white;">|</h4>
</li>

<!-- Check if User is Staff -->
{% if user.is_authenticated %}
<li class="nav-item">
  <a class="nav-link" style="color: #F7C7CE; font-weight: 750;">Hi {{ user.username }}!</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{% url 'logout' %}">Log Out &nbsp;<i class="fa fa-sign-out" aria-hidden="true"></i></a>
</li>
{% else %}
<li class="nav-item">
  <a class="nav-link" href="{% url 'login' %}">Staff Login &nbsp;<i class="fa fa-sign-in" aria-hidden="true"></i></a>
</li>
{% endif %}

{% endblock %}

{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container">
      <div class="masthead-heading text-uppercase">
        <img src="{% static 'main/serambimungil-avatar.png' %}" alt="">
      </div>
      <div class="masthead-subheading">{{ motto }}</div>
      <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'menu' %}"
        ></i>Browse Menu&nbsp; <i class="fa fa-search" aria-hidden="true"></i></a
      >
    </div>
  </header>
  <!-- Qualities -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">A Sweet Way To Start Your Day!</h2>
        <h3 class="section-subheading text-muted">
          ━━━━━━━━━━━━━━━━━━━━
        </h3>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-heart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="my-3">{{ quality_1_heading }}</h4>
          <p class="text-muted">
            {{ quality_1_caption }}
          </p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-dropbox fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="my-3">{{ quality_2_heading }}</h4>
          <p class="text-muted">
            {{ quality_2_caption }}
          </p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fa fa-birthday-cake fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="my-3">{{ quality_3_heading }}</h4>
          <p class="text-muted">
            {{ quality_3_caption }}
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Featured Products -->
  <section class="page-section bg-light" id="portfolio">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Best Sellers</h2>
        <h3 class="section-subheading text-muted">
          ━━━━━━━━━━━━━━━━━━━━
        </h3>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <!-- Featured Product 1 -->
          <div class="portfolio-item">
            <a
              class="portfolio-link"
              data-bs-toggle="modal"
              href="#portfolioModal1"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-search fa-3x"></i>
                </div>
              </div>
              {% if bestseller_1_image %}
                <img class="img-fluid" src="{{ bestseller_1_image.url }}" alt="..." />
              {% else %}
                <img class="img-fluid" src="{% static 'main/placeholder_600x450.jpg' %}" alt="..." />
              {% endif %}
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">{{ bestseller_1_name }}</div>
              <div class="portfolio-caption-subheading text-muted">
                {{ bestseller_1_caption }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <!-- Featured Product 2 -->
          <div class="portfolio-item">
            <a
              class="portfolio-link"
              data-bs-toggle="modal"
              href="#portfolioModal2"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-search fa-3x"></i>
                </div>
              </div>
              {% if bestseller_2_image %}
                <img class="img-fluid" src="{{ bestseller_2_image.url }}" alt="..." />
              {% else %}
                <img class="img-fluid" src="{% static 'main/placeholder_600x450.jpg' %}" alt="..." />
              {% endif %}
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">{{ bestseller_2_name }}</div>
              <div class="portfolio-caption-subheading text-muted">
                {{ bestseller_2_caption }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <!-- Featured Product 3 -->
          <div class="portfolio-item">
            <a
              class="portfolio-link"
              data-bs-toggle="modal"
              href="#portfolioModal3"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-search fa-3x"></i>
                </div>
              </div>
              {% if bestseller_3_image %}
                <img class="img-fluid" src="{{ bestseller_3_image.url }}" alt="..." />
              {% else %}
                <img class="img-fluid" src="{% static 'main/placeholder_600x450.jpg' %}" alt="..." />
              {% endif %}
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">{{ bestseller_3_name }}</div>
              <div class="portfolio-caption-subheading text-muted">
                {{ bestseller_3_caption }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contacts -->
  <section class="page-section bg-light" id="team" style="padding-top: 0;">
    <p id="phone_number" style="display: None;">+62 0812 900 6158</p>
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">CONTACT US</h2>
        <h3 class="section-subheading text-muted">
          ━━━━━━━━━━━━━━━━━━━━
        </h3>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'main/serambimungil-avatar.png' %}" alt="..." />
            <h4>Serambi Mungil</h4>
            <p class="text-muted">Official Social Medias</p>
            <a
              class="btn btn-dark btn-social mx-2"
              href="https://www.facebook.com/serambi.mungil/"
              aria-label="Parveen Anand Facebook Profile"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-dark btn-social mx-2"
              href="https://www.instagram.com/serambimungil/"
              aria-label="Parveen Anand LinkedIn Profile"
              ><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'main/blank-profile-picture.png' %}" alt="..." />
            <h4>Fitri Mutiarawati</h4>
            <p class="text-muted">Founder & CEO</p>
            <a
              class="btn btn-dark btn-social mx-2"
              href="https://www.instagram.com/fietiara/"
              aria-label="Diana Petersen LinkedIn Profile"
              ><i class="fa fa-instagram" aria-hidden="true"></i></i
            ></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <a class="btn btn-primary btn-lg" href="{% url 'contact' %}"
          ></i>Get in Touch&nbsp; <i class="fa fa-envelope" aria-hidden="true"></i></a
        >
        </div>
      </div>
    </div>
  </section>

  <!-- Product Popups -->
  <!-- Featured Product 1 Popup -->
  <div
    class="portfolio-modal modal fade"
    id="portfolioModal1"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal">
          <img src="" alt="Close modal" />
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Product details-->
                <h2 class="text-uppercase">{{ bestseller_1_name }}</h2>
                <p class="item-intro text-muted">
                  {{ bestseller_1_caption }}
                </p>
                {% if bestseller_1_image %}
                <img class="img-fluid" src="{{ bestseller_1_image.url }}" alt="..." />
                {% else %}
                <img class="img-fluid" src="{% static 'main/placeholder_600x450.jpg' %}" alt="..." />
                {% endif %}
                <p>
                  {{ bestseller_1_description }}
                </p>
                <button
                  class="btn btn-primary btn-xl text-uppercase"
                  data-bs-dismiss="modal"
                  type="button"
                >
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;
                  Go Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Featured Product 2 Popup -->
  <div
    class="portfolio-modal modal fade"
    id="portfolioModal2"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal">
          <img src="" alt="Close modal" />
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Product details-->
                <h2 class="text-uppercase">{{ bestseller_2_name }}</h2>
                <p class="item-intro text-muted">
                  {{ bestseller_2_caption }}
                </p>
                {% if bestseller_2_image %}
                <img class="img-fluid" src="{{ bestseller_2_image.url }}" alt="..." />
                {% else %}
                <img class="img-fluid" src="{% static 'main/placeholder_600x450.jpg' %}" alt="..." />
                {% endif %}
                <p>
                  {{ bestseller_2_description }}
                </p>
                <button
                  class="btn btn-primary btn-xl text-uppercase"
                  data-bs-dismiss="modal"
                  type="button"
                >
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;
                  Go Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Featured Product 3 Popup -->
  <div
    class="portfolio-modal modal fade"
    id="portfolioModal3"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal">
          <img src="" alt="Close modal" />
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Product details-->
                <h2 class="text-uppercase">{{ bestseller_3_name }}</h2>
                <p class="item-intro text-muted">
                  {{ bestseller_3_caption }}
                </p>
                {% if bestseller_3_image %}
                <img class="img-fluid" src="{{ bestseller_3_image.url }}" alt="..." />
                {% else %}
                <img class="img-fluid" src="{% static 'main/placeholder_600x450.jpg' %}" alt="..." />
                {% endif %}
                <p>
                  {{ bestseller_3_description }}
                </p>
                <button
                  class="btn btn-primary btn-xl text-uppercase"
                  data-bs-dismiss="modal"
                  type="button"
                >
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;
                  Go Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}