{% extends 'main/base.html' %}
{% load static %}

{% block title %}| Menu{% endblock %}

{% block navlinks%}
<li class="nav-item">
    <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp; Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">About</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
  </li>
{% endblock %}

{% block content %}
<!-- Header -->
<header class="masthead">
    <div class="container">
      <div class="masthead-subheading" style="font-size: 4rem;">Menu</div>
      <br>
      <br>
      <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-primary btn-lg">
            <i class="fas fa-search"></i>
        </button>
      </div>
    </div>
</header>

 <!-- Featured Products -->
 <section class="page-section bg-light" id="portfolio">
    <div class="container">
      <div class="row">
          <!-- Featured Product 1 -->
{% for product in products %}
          <div class="col-lg-4 col-sm-6 mb-4">
          <div class="portfolio-item">
            <a
              class="portfolio-link"
              data-bs-toggle="modal"
              href="#portfolioModal{{ product.id }}"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-search fa-3x"></i>
                </div>
              </div>
              {% if product.product_image %}
                <img class="img-fluid" src="{{ product.product_image.url }}" alt="..." />
              {% else %}
                <img class="img-fluid" src="{% static 'main/placeholder_600x450.jpg' %}" alt="..." />
              {% endif %}
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">{{ product.product_name }}</div>
              <div class="portfolio-caption-subheading text-muted">
                {{ product.product_type }}
              </div>
            </div>
          </div>
        </div>

  <!-- Product Popups -->
  <div
    class="portfolio-modal modal fade"
    id="portfolioModal{{ product.id }}"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal">
          <img src="" alt="Exit" />
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Product details-->
                <h2 class="text-uppercase">{{ product.product_name }}</h2>
                <p class="item-intro text-muted">
                  {{ product.product_type }}
                </p>
                {% if product.product_image %}
                    <img class="img-fluid" src="{{ product.product_image.url }}" alt="..." />
                {% else %}
                    <img class="img-fluid" src="{% static 'main/placeholder_600x450.jpg' %}" alt="..." />
                {% endif %}
                <p>
                  {{ product.product_description }}
                </p>
                <button
                  class="btn btn-primary btn-xl text-uppercase"
                  data-bs-dismiss="modal"
                  type="button"
                >
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;
                  Go Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}

{% endblock %}