{% extends 'main/base.html' %}
{% load static %}

{% block navlinks %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'menu' %}">Menu</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'about' %}">About</a>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'contact' %}">Contact</a>
</li>
<li class="nav-item">
    <h4 style="color: white;">|</h4>
</li>
<li class="nav-item">
    <a class="nav-link" href="{% url 'login' %}">Staff Login &nbsp;<i class="fa fa-sign-in" aria-hidden="true"></i></a>
</li>
{% endblock %}

{% block content %}
<!-- Masthead-->
<header class="masthead">
    <div class="container">
      <div class="masthead-heading text-uppercase">
        <img src="{% static 'main/serambimungil-avatar.png' %}" alt="">
      </div>
      <div class="masthead-subheading">Freshly baked sweet & savoury goods</div>
      <a class="btn btn-primary btn-xl text-uppercase" href="{% url 'menu' %}"
        ></i>Browse Menu&nbsp; <i class="fa fa-search" aria-hidden="true"></i></a
      >
    </div>
  </header>
  <!-- Qualities -->
  <section class="page-section" id="services">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">qualities</h2>
        <h3 class="section-subheading text-muted">
          ━━━━━━━━━━━━━━━━━━━━
        </h3>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="my-3">1</h4>
          <p class="text-muted">
            description
          </p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-search fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="my-3">2</h4>
          <p class="text-muted">
            description
          </p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="my-3">3</h4>
          <p class="text-muted">
            description
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <!-- Featured Products -->
  <section class="page-section bg-light" id="portfolio">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">Best Sellers</h2>
        <h3 class="section-subheading text-muted">
          ━━━━━━━━━━━━━━━━━━━━
        </h3>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <!-- Featured Product 1 -->
          <div class="portfolio-item">
            <a
              class="portfolio-link"
              data-bs-toggle="modal"
              href="#portfolioModal1"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-search fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'main/placeholder_600x450.jpg' %}" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">1</div>
              <div class="portfolio-caption-subheading text-muted">
                desc
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <!-- Featured Product 2 -->
          <div class="portfolio-item">
            <a
              class="portfolio-link"
              data-bs-toggle="modal"
              href="#portfolioModal2"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-search fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'main/placeholder_600x450.jpg' %}" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">2</div>
              <div class="portfolio-caption-subheading text-muted">
                desc
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <!-- Featured Product 3 -->
          <div class="portfolio-item">
            <a
              class="portfolio-link"
              data-bs-toggle="modal"
              href="#portfolioModal3"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-search fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'main/placeholder_600x450.jpg' %}" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">3</div>
              <div class="portfolio-caption-subheading text-muted">
                desc
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">
          <!-- Featured Product 4-->
          <div class="portfolio-item">
            <a
              class="portfolio-link"
              data-bs-toggle="modal"
              href="#portfolioModal4"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-search fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'main/placeholder_600x450.jpg' %}" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">4</div>
              <div class="portfolio-caption-subheading text-muted">
                desc
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4 mb-sm-0">
          <!-- Featured Product 5-->
          <div class="portfolio-item">
            <a
              class="portfolio-link"
              data-bs-toggle="modal"
              href="#portfolioModal5"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-search fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'main/placeholder_600x450.jpg' %}" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">5</div>
              <div class="portfolio-caption-subheading text-muted">
                desc
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6">
          <!-- Featured Product 6 -->
          <div class="portfolio-item">
            <a
              class="portfolio-link"
              data-bs-toggle="modal"
              href="#portfolioModal6"
            >
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fas fa-search fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid" src="{% static 'main/placeholder_600x450.jpg' %}" alt="..." />
            </a>
            <div class="portfolio-caption">
              <div class="portfolio-caption-heading">6</div>
              <div class="portfolio-caption-subheading text-muted">
                desc
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Contacts -->
  <section class="page-section bg-light" id="team">
    <div class="container">
      <div class="text-center">
        <h2 class="section-heading text-uppercase">CONTACT US</h2>
        <h3 class="section-subheading text-muted">
          ━━━━━━━━━━━━━━━━━━━━
        </h3>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'main/serambimungil-avatar.png' %}" alt="..." />
            <h4>Serambi Mungil</h4>
            <p class="text-muted">Official Social Medias</p>
            <a
              class="btn btn-dark btn-social mx-2"
              href="#!"
              aria-label="Parveen Anand Facebook Profile"
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a
              class="btn btn-dark btn-social mx-2"
              href="#!"
              aria-label="Parveen Anand LinkedIn Profile"
              ><i class="fa fa-instagram" aria-hidden="true"></i></a>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="{% static 'main/blank-profile-picture.png' %}" alt="..." />
            <h4>Fitri Mutiarawati</h4>
            <p class="text-muted">Founder & CEO</p>
            <a
              class="btn btn-dark btn-social mx-2"
              href="#!"
              aria-label="Diana Petersen LinkedIn Profile"
              ><i class="fa fa-instagram" aria-hidden="true"></i></i
            ></a>
            <a
            class="btn btn-dark btn-social mx-2"
            href="#!"
            aria-label="Diana Petersen Facebook Profile"
            ><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <a class="btn btn-primary btn-lg" href="{% url 'contact' %}"
          ></i>Get in Touch&nbsp; <i class="fa fa-envelope" aria-hidden="true"></i></a
        >
        </div>
      </div>
    </div>
  </section>

  <!-- Product Popups -->
  <!-- Featured Product 1 Popup -->
  <div
    class="portfolio-modal modal fade"
    id="portfolioModal1"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal">
          <img src="" alt="Close modal" />
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Product details-->
                <h2 class="text-uppercase">Name</h2>
                <p class="item-intro text-muted">
                  Lorem ipsum dolor sit amet consectetur.
                </p>
                <img class="img-fluid d-block mx-auto" src="" alt="..." />
                <p>
                  Use this area to describe your project. Lorem ipsum dolor
                  sit amet, consectetur adipisicing elit. Est blanditiis
                  dolorem culpa incidunt minus dignissimos deserunt repellat
                  aperiam quasi sunt officia expedita beatae cupiditate,
                  maiores repudiandae, nostrum, reiciendis facere nemo!
                </p>
                <button
                  class="btn btn-primary btn-xl text-uppercase"
                  data-bs-dismiss="modal"
                  type="button"
                >
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;
                  Go Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Featured Product 2 Popup -->
  <div
    class="portfolio-modal modal fade"
    id="portfolioModal2"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal">
          <img src="" alt="Close modal" />
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Product details-->
                <h2 class="text-uppercase">Name</h2>
                <p class="item-intro text-muted">
                  Lorem ipsum dolor sit amet consectetur.
                </p>
                <img class="img-fluid d-block mx-auto" src="" alt="..." />
                <p>
                  Use this area to describe your project. Lorem ipsum dolor
                  sit amet, consectetur adipisicing elit. Est blanditiis
                  dolorem culpa incidunt minus dignissimos deserunt repellat
                  aperiam quasi sunt officia expedita beatae cupiditate,
                  maiores repudiandae, nostrum, reiciendis facere nemo!
                </p>
                <button
                  class="btn btn-primary btn-xl text-uppercase"
                  data-bs-dismiss="modal"
                  type="button"
                >
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;
                  Go Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Featured Product 3 Popup -->
  <div
    class="portfolio-modal modal fade"
    id="portfolioModal3"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal">
          <img src="" alt="Close modal" />
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Product details-->
                <h2 class="text-uppercase">Name</h2>
                <p class="item-intro text-muted">
                  Lorem ipsum dolor sit amet consectetur.
                </p>
                <img class="img-fluid d-block mx-auto" src="" alt="..." />
                <p>
                  Use this area to describe your project. Lorem ipsum dolor
                  sit amet, consectetur adipisicing elit. Est blanditiis
                  dolorem culpa incidunt minus dignissimos deserunt repellat
                  aperiam quasi sunt officia expedita beatae cupiditate,
                  maiores repudiandae, nostrum, reiciendis facere nemo!
                </p>
                <button
                  class="btn btn-primary btn-xl text-uppercase"
                  data-bs-dismiss="modal"
                  type="button"
                >
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;
                  Go Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Featured Product 4 Popup -->
  <div
    class="portfolio-modal modal fade"
    id="portfolioModal4"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal">
          <img src="" alt="Close modal" />
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Product details-->
                <h2 class="text-uppercase">Name</h2>
                <p class="item-intro text-muted">
                  Lorem ipsum dolor sit amet consectetur.
                </p>
                <img class="img-fluid d-block mx-auto" src="" alt="..." />
                <p>
                  Use this area to describe your project. Lorem ipsum dolor
                  sit amet, consectetur adipisicing elit. Est blanditiis
                  dolorem culpa incidunt minus dignissimos deserunt repellat
                  aperiam quasi sunt officia expedita beatae cupiditate,
                  maiores repudiandae, nostrum, reiciendis facere nemo!
                </p>
                <button
                  class="btn btn-primary btn-xl text-uppercase"
                  data-bs-dismiss="modal"
                  type="button"
                >
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;
                  Go Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Featured Product 5 Popup -->
  <div
    class="portfolio-modal modal fade"
    id="portfolioModal5"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal">
          <img src="" alt="Close modal" />
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Product details-->
                <h2 class="text-uppercase">Name</h2>
                <p class="item-intro text-muted">
                  Lorem ipsum dolor sit amet consectetur.
                </p>
                <img class="img-fluid d-block mx-auto" src="" alt="..." />
                <p>
                  Use this area to describe your project. Lorem ipsum dolor
                  sit amet, consectetur adipisicing elit. Est blanditiis
                  dolorem culpa incidunt minus dignissimos deserunt repellat
                  aperiam quasi sunt officia expedita beatae cupiditate,
                  maiores repudiandae, nostrum, reiciendis facere nemo!
                </p>
                <button
                  class="btn btn-primary btn-xl text-uppercase"
                  data-bs-dismiss="modal"
                  type="button"
                >
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;
                  Go Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Featured Product 6 Popup -->
  <div
    class="portfolio-modal modal fade"
    id="portfolioModal6"
    tabindex="-1"
    role="dialog"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="close-modal" data-bs-dismiss="modal">
          <img src="" alt="Close modal" />
        </div>
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <div class="modal-body">
                <!-- Product details-->
                <h2 class="text-uppercase">Project Name</h2>
                <p class="item-intro text-muted">
                  Lorem ipsum dolor sit amet consectetur.
                </p>
                <img class="img-fluid d-block mx-auto" src="" alt="..." />
                <p>
                  Use this area to describe your project. Lorem ipsum dolor
                  sit amet, consectetur adipisicing elit. Est blanditiis
                  dolorem culpa incidunt minus dignissimos deserunt repellat
                  aperiam quasi sunt officia expedita beatae cupiditate,
                  maiores repudiandae, nostrum, reiciendis facere nemo!
                </p>
                <button
                  class="btn btn-primary btn-xl text-uppercase"
                  data-bs-dismiss="modal"
                  type="button"
                >
                  <i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;&nbsp;
                  Go Back
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}